/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* Add accessible line-height */
body {
  line-height: 1.5;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* CUSTOM STYLE */

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  text-align: center;
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  gap: 2rem;
}

h2 {
  font-size: 3rem;
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
  gap: 2rem;
}

.btn {
  background-color: white;
  color: #8767d1;
  border: 2px solid #8767d1;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
}

.modal {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
}

.new-book {
  display: grid;
  justify-items: center;
  gap: 2rem;
}

.close-modal-btn {
  position: absolute;
  right: 1rem;
  padding: 0.25rem;
  width: 2rem;
  aspect-ratio: 1 / 1;
  border: 0;
  border-radius: 100%;
  background-color: #8767d1;
  color: white;
}

.form-inputs {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.form-input {
  display: grid;
  gap: 0.5rem;
}

input {
  border: 1px solid #8767d1;
  border-radius: 1rem;
  padding: 0.5rem;
}

input:focus-visible {
  outline: none;
  border: 2px solid #8767d1;
  box-shadow: 0 0 20px 0 rgba(135, 103, 209, 0.5);
}

input[type="checkbox"] {
  background-color: #8767d1;
}

.modal::backdrop {
  background-color: #8767d1;
  opacity: 0.75;
}

.books-list {
  display: flex;
  flex-direction: column;
  min-width: 80%;
  gap: 20px;
}

.book-card {
  background-color: #8767d1;
  color: white;
  border-radius: 20px;
  padding: 1.5rem;
  display: grid;
  justify-items: center;
  gap: 0.75rem;
}

.book-info {
  display: grid;
}

img.github-logo {
  max-width: 24px;
}

footer {
  display: flex;
  align-items: center;
  min-height: 3rem;
}

footer p {
  margin: 10px;
}
